@import url("https://fonts.googleapis.com/css2?family=Uni+Neue:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calibri:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=D-DIN-PRO:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uni+Neue-Trial:wght@800&display=swap");
@import "../public/assets/css/fonts.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	
	}
	body {
		@apply bg-background text-foreground;

	
	}
}

body {
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif, "Uni Neue"; */
	font-family: --rkp-font-family;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	

	
}

*,
::before,
::after {
	border-width: 0;
}

/* *{
	border: 1px solid black;
} */

code {
	/* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", */
	font-family: --rkp-font-family,
	monospace;
}

.slick-dots {
	display: flex !important;
	justify-content: center !important;
}

.slick-prev:before {
	display: none;
}

.slick-next:before {
	display: none;
}

.slick-prev {
	left: -55px;
	top: 95px;
	width: 29px;
	height: 29px;
	color: gray;
	font-size: 30px;
}

.slick-next {
	right: -55px;
	top: 95px;
	width: 29px;
	height: 29px;
	color: gray;
	/* display: none !important; */
	font-size: 30px;
}

.slick-prev:hover,
.slick-next:hover {
	color: black !important;
}

.slick-dots li {
	margin: 0 3px !important;
}

.slick-dots li button:before {
	font-size: 14px !important;
}

input[type="radio"] {
	accent-color: green;
}

.button-color {
	background-color: var(--rkp-button-color) !important;
}
.button-text-color {
	color: var(--rkp-button-color) !important;
}
.button-border-color{
	border-color: var(--rkp-button-color) !important;
}

.primary-text{
	color : var(--rkp-primary-color) !important;
}
.primary-background{
	background-color : var(--rkp-primary-color) !important;
}

.secondary-text{
	color : var(--rkp-secondary-color) !important;
}
.secondary-background{
	background-color : var(--rkp-secondary-color) !important;
}

.text-color{
	color : var(--rkp-text-color) !important
}

.text-bg-color{
	background-color : var(--rkp-text-color) !important
}